/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
}

body {
    border: 2px solid black;
}



.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 55vh;
    justify-content: space-evenly;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

.top_buttons {
    width: 33.3%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}


.top_buttons a {
    color:black;
    padding: 4% 3%;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    text-decoration: none;
    border: 2px solid black;
    text-align: center;
}

h2 {
    font-size: 4rem;
    text-transform: uppercase;
}

.intro p {
    font-size: 1.7rem;
    text-align:center;
    width: 80%;
}

.main_project {
    display: flex;
    width: 100%;
}

.main_project img {
    width: 100%;
}

.gallery {
    display: flex;
    padding: 4% 0;
    /* justify-content: space-evenly; */
}

.gallery_case {
    display:flex;
    width: 65%;
    justify-content: space-evenly;
}

.gallery img {
    width: 23%;
}

.gallery p {
    font-size: 2.1rem;
    text-align:center;
    width: 35%;
    padding: 1% 6%;
} 

span {
    font-style:italic;
    font-weight: bold;
    font-size: 2.1rem;
}

footer {
    display: flex;
    width: 100%;
    background-color:bisque;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact_me {
    color:white;
    padding: 1% 1%;
    font-weight: bold;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    width:10%;
    text-decoration: none;
    border: 2px solid black;
    text-align: center;
    background-color:cornflowerblue;
    margin: 3% 0%;
} 

.social {
    display:flex;
    width: 30%;
    justify-content: space-between;
    margin-bottom: 4%;
}

i {
    font-size: 5rem;
}